.navbar{
    height: 80px;
    background-color: aqua;
    padding: 10px 0;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 100px;
}
.nav-list{
    display: flex;
}
.nav-list li{
    margin-right: 80px;
}